/* #region Temp */

html, body,
.ui-dialog .charactersheet {
    width: calc(100% - 15px);
    height: calc(100% - 25px);
    background-color: #000000;
    background-image: var(--Back3);
    background-repeat: repeat;
    background-size: 32px;
    animation: 4s linear infinite page-background;
}

@keyframes page-background {
    from { background-position-x: 0px; }
    to { background-position-x: 32px; }
}

/* #endregion */

/* #region Roll20 */

.ui-dialog .sheet-stargaze  *{
    all: initial;
    scrollbar-color: initial;
}

.ui-dialog .sheet-stargaze fieldset {
    margin: 0px;
    padding: 0px;
    border: none;
}

.ui-dialog .sheet-stargaze input {
    box-sizing: initial;
    height: initial;
    vertical-align: initial;
}

.ui-dialog .charsheet button[type=roll], 
.ui-dialog .charsheet button[type=compendium],
.ui-dialog .sheet-stargaze .btn {
    box-sizing: initial;
    height: initial;
    vertical-align: initial;
    font: initial;
    font-family: monospace, 'Monaco', system-ui;
    font-size: 10pt;
    color: #dbddde;
    content: var(--Icon5);
}

.ui-dialog .charsheet button[type=roll]:before {
    all: initial;
}

.ui-dialog::-webkit-scrollbar {
    width: 4px;
}

.ui-dialog::-webkit-scrollbar-button {
    display: none;
}

.ui-dialog::-webkit-scrollbar-track {
    background-color: transparent;
}

.ui-dialog::-webkit-scrollbar-thumb {
    background: #ffffff90;
}

/* #endregion */

/* #region Variables */

:root {
    --main-text-color: #dbddde;
    --dim-text-color: #999999;
    --main-background: #cccccc;
    --edges-width: 2.5px;
    --edges-size: 20px;
    --edges-color: #ccc;
    --edges-color-half: #cccccc64;
    --edges-small-width: 2.5px;
    --edges-small-size: 7px;
    --body-light: #d16c6c;
    --body-dark: #8e2b2b;
    --nerv-light: #ccbf78;
    --nerv-dark: #8e7c2b;
    --mind-light: #65a9d0;
    --mind-dark: #2b5e8e;
    --psyc-light: #775fc8;
    --psyc-dark: #5d2b8e;
    --Back1: url("https://github.com/Mikhuil-Kop/Stargaze-CharacterSheet/raw/refs/heads/main/Resources/Back1.svg");
    --Back2: url("https://github.com/Mikhuil-Kop/Stargaze-CharacterSheet/raw/refs/heads/main/Resources/Back2.svg");
    --Back3: url("https://github.com/Mikhuil-Kop/Stargaze-CharacterSheet/raw/refs/heads/main/Resources/Back3.svg");
    --Bar1: url("https://github.com/Mikhuil-Kop/Stargaze-CharacterSheet/raw/refs/heads/main/Resources/Bar1.svg");
    --Bar2: url("https://github.com/Mikhuil-Kop/Stargaze-CharacterSheet/raw/refs/heads/main/Resources/Bar2.svg");
    --Bar3: url("https://github.com/Mikhuil-Kop/Stargaze-CharacterSheet/raw/refs/heads/main/Resources/Bar3.svg");
    --Block1: url("https://github.com/Mikhuil-Kop/Stargaze-CharacterSheet/raw/refs/heads/main/Resources/Block1.svg");
    --Block2: url("https://github.com/Mikhuil-Kop/Stargaze-CharacterSheet/raw/refs/heads/main/Resources/Block2.svg");
    --Block3: url("https://github.com/Mikhuil-Kop/Stargaze-CharacterSheet/raw/refs/heads/main/Resources/Block3.svg");
    --Block4: url("https://github.com/Mikhuil-Kop/Stargaze-CharacterSheet/raw/refs/heads/main/Resources/Block4.svg");
    --Block5: url("https://github.com/Mikhuil-Kop/Stargaze-CharacterSheet/raw/refs/heads/main/Resources/Block5.svg");
    --Block6: url("https://github.com/Mikhuil-Kop/Stargaze-CharacterSheet/raw/refs/heads/main/Resources/Block6.svg");
    --Block7: url("https://github.com/Mikhuil-Kop/Stargaze-CharacterSheet/raw/refs/heads/main/Resources/Block7.svg");
    --Frame1: url("https://github.com/Mikhuil-Kop/Stargaze-CharacterSheet/raw/refs/heads/main/Resources/Frame1.svg");
    --Frame2: url("https://github.com/Mikhuil-Kop/Stargaze-CharacterSheet/raw/refs/heads/main/Resources/Frame2.svg");
    --Button1: url("https://github.com/Mikhuil-Kop/Stargaze-CharacterSheet/raw/refs/heads/main/Resources/Button1.svg");
    --Button2: url("https://github.com/Mikhuil-Kop/Stargaze-CharacterSheet/raw/refs/heads/main/Resources/Button2.svg");
    --Pattern1: url("https://github.com/Mikhuil-Kop/Stargaze-CharacterSheet/raw/refs/heads/main/Resources/PatternBody.svg");
    --Pattern2: url("https://github.com/Mikhuil-Kop/Stargaze-CharacterSheet/raw/refs/heads/main/Resources/PatternNerv.svg");
    --Pattern3: url("https://github.com/Mikhuil-Kop/Stargaze-CharacterSheet/raw/refs/heads/main/Resources/PatternMind.svg");
    --Pattern4: url("https://github.com/Mikhuil-Kop/Stargaze-CharacterSheet/raw/refs/heads/main/Resources/PatternPsyc.svg");
    --Icon1: url("https://github.com/Mikhuil-Kop/Stargaze-CharacterSheet/raw/refs/heads/main/Resources/Icon1.svg");
    --Icon2: url("https://github.com/Mikhuil-Kop/Stargaze-CharacterSheet/raw/refs/heads/main/Resources/Icon2.svg");
    --Icon3: url("https://github.com/Mikhuil-Kop/Stargaze-CharacterSheet/raw/refs/heads/main/Resources/Icon3.svg");
    --Icon4: url("https://github.com/Mikhuil-Kop/Stargaze-CharacterSheet/raw/refs/heads/main/Resources/Icon4.svg");
    --Icon5: url("https://github.com/Mikhuil-Kop/Stargaze-CharacterSheet/raw/refs/heads/main/Resources/Icon5.svg");
    --IconLock: url("https://github.com/Mikhuil-Kop/Stargaze-CharacterSheet/raw/refs/heads/main/Resources/IconLock.svg");
    --IconUnlock: url("https://github.com/Mikhuil-Kop/Stargaze-CharacterSheet/raw/refs/heads/main/Resources/IconUnlock.svg");
}

/* #endregion */

/* #region General */

.ui-dialog .sheet-stargaze {
    width: 100%;
    height: 100%;
    min-width: 700px;
    font-family: monospace, 'Monaco', system-ui;
    font-size: 10pt;
    color: #dbddde;
}

.ui-dialog .sheet-stargaze .sheet-content {
    width: 100%;
    height: 100%;
    min-width: 750px;
    font-family: monospace, 'Monaco', system-ui;
    font-size: 10pt;
    color: #dbddde;
}

/* #endregion */

/* #region Common */

/*---------------------------------------------------------------------------
 * Labels
 *---------------------------------------------------------------------------*/

 .ui-dialog .sheet-stargaze .sheet-label {
    font-size: 10pt;
    font-family: monospace, 'Monaco', system-ui;
    color: #b3b3b3;
}

/*---------------------------------------------------------------------------
 * Groups
 *---------------------------------------------------------------------------*/

.ui-dialog .sheet-stargaze .sheet-block_giant {
    margin: 5px;
    background-color: #000000;
    background-image: var(--Back2);
    background-repeat: repeat;
    background-size: 32px;
    border-image-source: var(--Block6);
    border-image-slice: 45% fill;
    border-image-width: 32px;
    border-image-outset: 8px;
    animation: 4s linear infinite page-background;
}

.ui-dialog .sheet-stargaze .sheet-block_solid {
    margin: 5px;
    background-color: #000000;
    background-image: var(--Back2);
    background-repeat: repeat;
    background-size: 32px;
    border-image-source: var(--Block6);
    border-image-slice: 45% fill;
    border-image-width: 32px;
    border-image-outset: 8px;
    animation: 4s linear infinite body-background;
}

.ui-dialog .sheet-stargaze .sheet-block_big {
    margin: 5px;
    border-image-source: var(--Block1);
    border-image-slice: 45% fill;
    border-image-width: 32px;
    border-image-outset: 8px;
}

.ui-dialog .sheet-stargaze .sheet-block_alt {
    margin: 5px;
    border-image-source: var(--Block2);
    border-image-slice: 36% fill;
    border-image-width: 32px;
    border-image-outset: 8px;
}

.ui-dialog .sheet-stargaze .sheet-block_alt_half {
    margin: 5px;
    border-image-source: var(--Block7);
    border-image-slice: 45% fill;
    border-image-width: 32px;
    border-image-outset: 8px;
}

.ui-dialog .sheet-stargaze .sheet-block_list {
    margin: 5px;
    padding-top: 20px;
    border-image-source: var(--Block4);
    border-image-slice: 45% fill;
    border-image-width: 32px;
    border-image-outset: 8px;
}

.ui-dialog .sheet-stargaze .sheet-block_small {
    margin: 5px;
    padding: 5px;
    border-image-source: var(--Block3);
    border-image-slice: 45% fill;
    border-image-width: 32px;
    border-image-outset: 8px;
}

.ui-dialog .sheet-stargaze .sheet-frame_simple {
    margin: 5px;
    padding: 5px;
    background: none;
    border-image-source: var(--Frame1);
    border-image-slice: 25% fill;
    border-image-width: 64px;
    border-image-outset: 16px;
}

/*---------------------------------------------------------------------------
 * Inputs
 *---------------------------------------------------------------------------*/

.ui-dialog .sheet-stargaze .sheet-input_big,
.ui-dialog .sheet-stargaze .sheet-input_mid,
.ui-dialog .sheet-stargaze .sheet-input_small,
.ui-dialog .sheet-stargaze .sheet-input_none,
.ui-dialog .sheet-stargaze .sheet-text-area  {
    font-family: monospace, 'Monaco', system-ui;
    font-size: 10pt;
    color: #dbddde;
}

.ui-dialog .sheet-stargaze .sheet-input_big {
    margin: 2.5px;
    padding: 5px;
    color: white;
    outline: none;
    background: none;
    border-image-source: var(--Block3);
    border-image-slice: 22% fill;
    border-image-width: 15px;
    border-image-outset: 8px;
    font-family: monospace, 'Monaco', system-ui;
}

.ui-dialog .sheet-stargaze .sheet-input_big::placeholder {
    font-family: monospace, 'Monaco', system-ui;
    color: #ffffff60;
}

.ui-dialog .sheet-stargaze .sheet-input_big::selection {
    color: black;
    background-color: white;
}

.ui-dialog .sheet-stargaze .sheet-input_big:focus {
    background-color: #ffffff20;
    transition: 0.3s;
}

.ui-dialog .sheet-stargaze .sheet-input_mid {
    margin: 5px;
    padding: 5px;
    padding-left: 10px;
    color: white;
    outline: none;
    background: none;
    border-image-source: var(--Bar2);
    border-image-slice: 33% fill;
    border-image-width: 32px;
    border-image-outset: 8px;
    font-family: monospace, 'Monaco', system-ui;
    transition: 0.3s;
}

.ui-dialog .sheet-stargaze .sheet-input_mid::placeholder {
    color: #ffffff60;
}

.ui-dialog .sheet-stargaze .sheet-input_mid::selection {
    color: black;
    background-color: white;
}

.ui-dialog .sheet-stargaze .sheet-input_mid:focus {
    background-color: #ffffff20;
    transition: 0.3s;
}

.ui-dialog .sheet-stargaze .sheet-input_small {
    margin: 5px;
    padding: 5px;
    color: white;
    outline: none;
    background: none;
    border-image-source: var(--Bar3);
    border-image-slice: 33% fill;
    border-image-width: 32px;
    border-image-outset: 8px;
    font-family: monospace, 'Monaco', system-ui;
}

.ui-dialog .sheet-stargaze .sheet-input_small::placeholder {
    color: #ffffff60;
}

.ui-dialog .sheet-stargaze .sheet-input_small::selection {
    color: black;
    background-color: white;
}

.ui-dialog .sheet-stargaze .sheet-input_small:focus {
    background-color: #ffffff20;
    transition: 0.3s;
}

.ui-dialog .sheet-stargaze .sheet-input_none::placeholder,
.ui-dialog .sheet-stargaze .sheet-input_none::selection,
.ui-dialog .sheet-stargaze .sheet-input_none:focus,
.ui-dialog .sheet-stargaze .sheet-input_none {
    display: block;
    white-space: pre-line;
    user-select: none;
    margin: 2.5px;
    padding: 5px;
    outline: none;
    background: none;
    border: none;
    overflow-x: hidden;
    overflow-y: scroll;
}

.ui-dialog .sheet-stargaze .sheet-input_none::-webkit-scrollbar,
.ui-dialog .sheet-stargaze .sheet-input_none::-webkit-scrollbar-track,
.ui-dialog .sheet-stargaze .sheet-input_none::-webkit-scrollbar-thumb,
.ui-dialog .sheet-stargaze .sheet-input_none::-webkit-scrollbar-button {
    width: 0px;
}

.ui-dialog .sheet-stargaze .sheet-text-area {
    margin: 5px;
    padding: 10px;
    color: white;
    outline: none;
    background: none;
    resize: none;
    border-image-source: var(--Block3);
    border-image-slice: 33% fill;
    border-image-width: 32px;
    border-image-outset: 8px;
    font-family: monospace, 'Monaco', system-ui;
}

.ui-dialog .sheet-stargaze .sheet-text-area::placeholder {
    color: #ffffff60;
}

.ui-dialog .sheet-stargaze .sheet-text-area::selection {
    color: black;
    background-color: white;
}

.ui-dialog .sheet-stargaze .sheet-text-area:focus {
    background-color: #ffffff20;
    transition: 0.3s;
}

.ui-dialog .sheet-stargaze .sheet-input_none::-webkit-scrollbar,
.ui-dialog .sheet-stargaze .sheet-text-area::-webkit-scrollbar {
    width: 4px;
}

.ui-dialog .sheet-stargaze .sheet-input_none::-webkit-scrollbar-button,
.ui-dialog .sheet-stargaze .sheet-text-area::-webkit-scrollbar-button {
    display: none;
}

.ui-dialog .sheet-stargaze .sheet-input_none::-webkit-scrollbar-track,
.ui-dialog .sheet-stargaze .sheet-text-area::-webkit-scrollbar-track {
    background-color: transparent;
}

.ui-dialog .sheet-stargaze .sheet-input_none::-webkit-scrollbar-thumb,
.ui-dialog .sheet-stargaze .sheet-text-area::-webkit-scrollbar-thumb {
    background: #ffffff90;
}

/*---------------------------------------------------------------------------
 * Text
 *---------------------------------------------------------------------------*/

.ui-dialog .sheet-stargaze h1 {
    font-size: 14pt;
    font-weight: 600;
    line-height: 100%;
}

.ui-dialog .sheet-stargaze h2 {
    font-size: 12pt;
    font-weight: 600;
    line-height: 100%;
}

.ui-dialog .sheet-stargaze h3 {
    font-size: 10pt;
    font-weight: 600;
    line-height: 100%;
}

.ui-dialog .sheet-stargaze h3 {
    font-size: 10pt;
    font-weight: 600;
    line-height: 100%;
}

.ui-dialog .sheet-stargaze p {
    font-size: 10pt;
    line-height: 150%;
}

.ui-dialog .sheet-stargaze a {
    font-size: 10pt;
}

.ui-dialog .sheet-stargaze strong {
    font-size: 10pt;
    font-weight: 600;
}

/*---------------------------------------------------------------------------
 * Tables
 *---------------------------------------------------------------------------*/

.ui-dialog .sheet-stargaze .sheet-table_static {
    margin: 5px;
    width: calc(100% - 10px);
    border-collapse: collapse;
    color: white;
}

.ui-dialog .sheet-stargaze .sheet-table_static .sheet-table_header {
    background: rgba(95, 95, 95, 0.25);
    font-weight: bold;
    min-width: 10px;
}

.ui-dialog .sheet-stargaze .sheet-table_static .sheet-table_left {
    text-align: left;
}

.ui-dialog .sheet-stargaze .sheet-table_static .sheet-table_right {
    text-align: right;
}

.ui-dialog .sheet-stargaze .sheet-table_static .sheet-table_bold {
    color: white;
}

.ui-dialog .sheet-stargaze .sheet-table_static .sheet-table_dim {
    color: #767676;
}

/*---------------------------------------------------------------------------
 * Buttons
 *---------------------------------------------------------------------------*/

.ui-dialog .sheet-stargaze .btn,
.ui-dialog .sheet-stargaze .sheet-button {
    display: inline-block;
    position: relative;
    padding: 5px;
    top: -6px;
    right: -3px;
    border: none;
    border-radius: 0px;
    outline: none;
    background: none;
    background-color: #ffffff25;
    box-shadow: -3px 6px 0px #ffffff10;
    text-shadow: none;
    font-family: monospace, 'Monaco', system-ui;
    font-size: 10pt;
    color: #dbddde;
    user-select: none;
    transition: 0.1s;
}

.ui-dialog .sheet-stargaze .btn:not():hover,
.ui-dialog .sheet-stargaze .sheet-button:hover {
    background-color: #ffffff35;
    outline: none;
}

.ui-dialog .sheet-stargaze .btn:focus,
.ui-dialog .sheet-stargaze .sheet-button:focus {
    background-color: #ffffff35;
    outline: none;
    border: none;
    border-radius: 0px;
}

.ui-dialog .sheet-stargaze .btn:active,
.ui-dialog .sheet-stargaze .sheet-button:active {
    top: 0px;
    right: 0px;
    box-shadow: 0px 0px 0px #ffffff10;
    border: none;
    border-radius: 0px;
    transition: 0.1s;
}

.ui-dialog .sheet-stargaze .sheet-button_text {
    all: initial;
    background: none;
    border: none;
    outline: none;
    outline: solid rgb(0, 0, 0, 0) 1px;
    box-shadow: none;
    font-family: monospace, 'Monaco', system-ui;
    font-size: 10pt;
    font-weight: bold;
    color: #dbddde;
    padding: 0;
    text-decoration: underline dotted rgb(3, 3, 3);
    transition: 0.5s;
}

.ui-dialog .sheet-stargaze .sheet-button_text:active {
    text-decoration: underline dotted white;
    transition: 0.5s;
}

/*---------------------------------------------------------------------------
 * Buttons
 *---------------------------------------------------------------------------*/

.ui-dialog .sheet-stargaze .sheet-button-icon{
    position: absolute;
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 5px;
}

/* #endregion */

/* #region Selects */

.ui-dialog .sheet-select_small {
    margin: 2.5px;
    width: calc(100% - 7.5px);
    height: calc(100% - 2.5px);
    padding-left: 2.5px;
    padding-right: 2.5px;
}

.ui-dialog .sheet-select_small select {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-appearance: none;
    appearance: none;
    background-color: #c9c9c921;
    color: white;
    border-radius: 0px;
    box-shadow: none;
    border: none;
    outline: none;
    padding-left: 7.5px;
    font-family: monospace, 'Monaco', system-ui;
    color: white;
    font-size: 10pt;
    outline: none;
    transition: 0.3s;
    background: none;
    border-image-source: var(--Bar1);
    border-image-slice: 33% fill;
    border-image-width: 32px;
    border-image-outset: 8px;
}

.ui-dialog .sheet-select_small select:focus {
    background-color: #404040;
}

.ui-dialog .sheet-select_small::after {
    position: absolute;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    content: var(--Icon1);
}

/* #endregion */

/* #region Repeating Areas */

.ui-dialog .sheet-stargaze .sheet-repeating-area {
    display: block;
    padding: 5px;
    width: calc(100% - 15px);
    height: calc(100% - 15px);
}

.ui-dialog .sheet-stargaze .sheet-repeating-area .repcontainer {
    display: block;
    margin: 0px;
    padding: 0px;
    padding-right: 15px;
    margin-right: -10px;
    height: calc(100% - 20px);
    overflow-y: scroll;
    overflow-x: hidden;
}

.ui-dialog .sheet-stargaze .sheet-repeating-area .repcontrol {
    margin-top: 10px;
}

.ui-dialog .sheet-stargaze .sheet-repeating-area .repcontainer::-webkit-scrollbar {
    width: 4px;
}

.ui-dialog .sheet-stargaze .sheet-repeating-area .repcontainer::-webkit-scrollbar-button {
    display: none;
}

.ui-dialog .sheet-stargaze .sheet-repeating-area .repcontainer::-webkit-scrollbar-track {
    background-color: transparent;
}

.ui-dialog .sheet-stargaze .sheet-repeating-area .repcontainer::-webkit-scrollbar-thumb {
    background: #ffffff90;
}

.ui-dialog .sheet-stargaze .repcontrol_add {
    background-color: #00ff3725;
}

.ui-dialog .sheet-stargaze .repcontrol_add:active,
.ui-dialog .sheet-stargaze .repcontrol_add:hover {
    background-color: #acffbe25;
}

.ui-dialog .sheet-stargaze .repcontrol_edit {
    background-color: #ff9d0025;
}

.ui-dialog .sheet-stargaze .repcontrol_edit:active,
.ui-dialog .sheet-stargaze .repcontrol_edit:hover {
    background-color: #ffe0af25;
}

.ui-dialog .sheet-stargaze .repcontrol_del {
    background-color: #ff000025;
}

.ui-dialog .sheet-stargaze .repcontrol_del:active,
.ui-dialog .sheet-stargaze .repcontrol_del:hover {
    background-color: #ffc1c125;
}

.ui-dialog .sheet-stargaze .sheet-repeating-area_item {
    display: grid;
    margin: 5px;
    padding: 5px;
    width: calc(100% - 10px);
    grid-template:
        'a' 35px
        'b' 1fr / 1fr;

    overflow-x: hidden;
    overflow-y: hidden;
}

/*---------------------------------------------------------------------------
 * Structure
 *---------------------------------------------------------------------------*/

.ui-dialog .sheet-stargaze .sheet-repeating-area_item_header {
    display: grid;
    margin: 0px;
    padding: 0px;
    padding-right: 5px;
    grid-template: 'a b c d' 1fr / 1fr 30px 30px 30px;
    column-gap: 5px;
}

.ui-dialog .sheet-stargaze .sheet-repeating-area_item_body {
    display: grid;
    margin: 0px;
    padding: 0px;
}

.ui-dialog .sheet-stargaze .sheet-repeating-area_item_preview {
    display: grid;
    margin: 0px;
    padding: 0px;
    font-size: 8pt;
}

.ui-dialog .sheet-stargaze .sheet-repeating-area_item_preview span {
    font-size: 8pt;
}

.ui-dialog .sheet-stargaze .sheet-button_small-roll[type=roll],
.ui-dialog .sheet-stargaze .sheet-button_small-roll,
.ui-dialog .sheet-stargaze .sheet-button_small-lock,
.ui-dialog .sheet-stargaze .sheet-button_small-hide {
    margin: 2.5px;
    padding: 0px;
    width: 30px;
    height: 30px;
}

.ui-dialog .sheet-stargaze .sheet-button_small-roll[type=roll]::after,
.ui-dialog .sheet-stargaze .sheet-button_small-roll::after,
.ui-dialog .sheet-stargaze .sheet-button_small-lock::after,
.ui-dialog .sheet-stargaze .sheet-button_small-hide::after {
    display: block;
    height: calc(100% - 10px);
    width: calc(100% - 10px);
    margin: 5px;
    
    content: var(--Icon5);
}

.ui-dialog .sheet-stargaze .sheet-button_small-roll[type=roll]::after,
.ui-dialog .sheet-stargaze .sheet-button_small-roll::after{
    content: var(--Icon5);
}

.ui-dialog .sheet-stargaze .sheet-button_small-hide::after {
    content: var(--Icon1);
}

.ui-dialog .sheet-stargaze .sheet-button_small-lock::after {
    content: var(--IconUnlock);
}

.ui-dialog .sheet-stargaze .sheet-repeating-area_hide[value="1"] ~ .sheet-repeating-area_item .sheet-button_small-hide::after{
    content: var(--Icon3);
}

.ui-dialog .sheet-stargaze .sheet-repeating-area_lock[value="1"] ~ .sheet-repeating-area_item .sheet-button_small-lock::after{
    content: var(--IconLock);
}

.ui-dialog .sheet-stargaze :where(.sheet-repeating-area_lock[value="1"], .sheet-repeating-area_hide[value="1"]) ~ .sheet-repeating-area_item .sheet-repeating-area_item_body{
    display: none;
}

.ui-dialog .sheet-stargaze  :where(.sheet-repeating-area_lock[value="0"], .sheet-repeating-area_hide[value="1"]) ~ .sheet-repeating-area_item .sheet-repeating-area_item_preview{
    display: none;
}

/*---------------------------------------------------------------------------
 * Items
 *---------------------------------------------------------------------------*/

.ui-dialog .sheet-stargaze .sheet-repeating-area_item_head {
    margin: 2.5px;
    width: calc(100% - 15px);
}

.ui-dialog .sheet-stargaze .sheet-repeating-area_item_input {
    margin: 2.5px;
    width: calc(100% - 15px);
}

.ui-dialog .sheet-stargaze .sheet-repeating-area_item_text-area {
    margin: 2.5px;
    width: calc(100% - 22.5px);
    height: 47px;
}

/*---------------------------------------------------------------------------
 * Specific
 *---------------------------------------------------------------------------*/

.ui-dialog .sheet-stargaze .sheet-repeating-area_property {
}

.ui-dialog .sheet-stargaze .sheet-repeating-area_item_property {
}

.ui-dialog .sheet-stargaze .sheet-repeating-area_item_property > *:nth-child(1) {
}

.ui-dialog .sheet-stargaze .sheet-repeating-area_action {
}

.ui-dialog .sheet-stargaze .sheet-repeating-area_item_action {
    display: grid;
    grid-template-columns: 1fr 35px 35px;
    grid-template-rows: 35px 35px 30px 1fr;
}

.ui-dialog .sheet-stargaze .sheet-repeating-area_item_action > *:nth-child(1) {
    grid-row: 1;
    grid-column: 1;
}

.ui-dialog .sheet-stargaze .sheet-repeating-area_item_action > *:nth-child(2) {
    grid-row: 1;
    grid-column: 2;
}

.ui-dialog .sheet-stargaze .sheet-repeating-area_item_action > *:nth-child(3) {
    grid-row: 1;
    grid-column: 3;
}

.ui-dialog .sheet-stargaze .sheet-repeating-area_item_action > *:nth-child(4) {
    grid-row: 2;
    grid-column: 1 / 4;
}

.ui-dialog .sheet-stargaze .sheet-repeating-area_item_action > *:nth-child(5) {
    grid-row: 3;
    grid-column: 1 / 4;
}

.ui-dialog .sheet-stargaze .sheet-repeating-area_item_action > *:nth-child(6) {
    grid-row: 4;
    grid-column: 1 / 4;
}

/* #endregion */

/* #region Animations */

.ui-dialog .sheet-stargaze .sheet-falling-text_big {
    position: relative;
    top: 30px;
    animation-name: keyframes_falling-text_big;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.ui-dialog .sheet-stargaze .sheet-falling-text_big::before {
    font-family: monospace, 'Monaco', system-ui;
    font-size: 8px;
    line-height: 3;
    color: rgb(160, 160, 160);
    content: var(--big-fake-text);
}

@keyframes keyframes_falling-text_big {
    from { top: -300px; }
    to { top: 50px; }
}

.ui-dialog .sheet-stargaze .sheet-anim_sliding-line {
    height: 2px;
    width: 100%;
    background-color: gray;
}

.ui-dialog .sheet-stargaze .sheet-anim_sliding-line > div {
    height: 4px;
    width: 2px;
    background-color: white;
    position: absolute;
    top: 0px;
    margin: 0px;
    padding: 0px;
    animation-name: keyframes_anim_sliding-line_item;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.ui-dialog .sheet-stargaze .sheet-anim_sliding-line > .rand1 {
    animation-delay: 1s;
    animation-duration: 10s;
}

.ui-dialog .sheet-stargaze .sheet-anim_sliding-line > .rand2 {
    animation-delay: 2s;
    animation-duration: 9s;
}

.ui-dialog .sheet-stargaze .sheet-anim_sliding-line > .rand3 {
    animation-delay: 0s;
    animation-duration: 13.5s;
}

.ui-dialog .sheet-stargaze .sheet-anim_sliding-line > .rand4 {
    animation-delay: 1s;
    animation-duration: 18.3s;
}

.ui-dialog .sheet-stargaze .sheet-anim_sliding-line > .rand5 {
    animation-delay: 2s;
    animation-duration: 7.3s;
}

.ui-dialog .sheet-stargaze .sheet-anim_sliding-line > .rand6 {
    animation-delay: 1s;
    animation-duration: 8.6s;
}

@keyframes keyframes_anim_sliding-line_item {
    0% { left: 0%; }
    50% { left: 100%; }
    100% { left: 0%; }
}

/* #endregion */

/* #region Tooltip */

.ui-dialog .sheet-tooltip {
    position: absolute;
    color: darkblue;
    zoom: 100%;
    transition: 0.2s 0.2s;
}

.ui-dialog *:has(> .sheet-tooltip):hover .sheet-tooltip {
    color: red;
    zoom: 0%;
    transition: 0.2s 0.2s;
}

/* #endregion */

/* #region Header */

.ui-dialog .sheet-stargaze .sheet-ribbon {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    padding: 5px;
}

.ui-dialog .sheet-stargaze .sheet-ribbon_space {
    flex-grow: 3;
}

.ui-dialog .sheet-stargaze .sheet-ribbon_input {
    display: grid;
    height: 100px;
    width: 70px;

    grid-template:
        'a' 1fr
        'b' 1fr
        'c' 1fr;

    flex-grow: 0;
}

.ui-dialog .sheet-stargaze .sheet-ribbon_input_double{
    width: calc(100% - 20px);
    grid-row: auto;
    text-align: center;
}

.ui-dialog .sheet-stargaze .sheet-ribbon_input_single{
    width: calc(100% - 20px);
    grid-row: 1 / 3;
    text-align: center;
}

.ui-dialog .sheet-stargaze .sheet-ribbon_input_caption{
    width: calc(100% - 5px);
    grid-row: 3;

    margin: 0px;
    padding: 0px;
    text-align: center;
    white-space: nowrap;
}

/* #endregion */

/* #region Main Page */

.ui-dialog .sheet-stargaze .sheet-page_main {
    grid-template-rows: 100px 720px 250px;
    gap: 5px;
    height: 100%;
    width: calc(100% - 20px);
    padding: 5px;
}

.ui-dialog .sheet-stargaze .sheet-page_main_header {
    width: calc(100% - 20px);
    height: calc(100% - 10px);
}

.ui-dialog .sheet-stargaze .sheet-page_main_body {
    display: grid;
    grid-template-columns: 350px auto auto;
    height: 100%;
    width: 100%;
}

.ui-dialog .sheet-stargaze .sheet-page_main_footer {
    display: grid;
    grid-template-columns: auto auto auto 300px;
    gap: 5px;
    height: 100%;
    width: 100%;
}

.ui-dialog .sheet-stargaze .sheet-stats_area {
    display: block;
    height: calc(720px - 30px);
}

.ui-dialog .sheet-stargaze .sheet-properties_area {
    display: block;
    height: calc(720px - 30px);
}

.ui-dialog .sheet-stargaze .sheet-actions_area {
    display: block;
    height: 100%;
    height: calc(720px - 30px);
}

.ui-dialog .sheet-stargaze .sheet-footer-area {
    margin: 0px;
}

.ui-dialog .sheet-stargaze .sheet-footer_area_title {
    width: calc(100% - 20px);
    margin: 0px 0px 5px 6px;
    padding: 0px 5px 0px 5px;
    font-weight: bold;
    background: none;
    border-image-source: var(--Bar2);
    border-image-slice: 33% fill;
    border-image-width: 32px;
    border-image-outset: 8px;
}

.ui-dialog .sheet-stargaze .sheet-footer_area_text {
    margin: 0px;
    height: calc(100% - 50px);
    width: calc(100% - 20px);
}

/* #endregion */

/* #region Stats Area */

.ui-dialog .sheet-stargaze .sheet-stats-block {
    display: grid;
    grid-template-rows: auto auto;
    margin: 5pt;
    padding: 5pt;
}

.ui-dialog .sheet-stargaze .sheet-stats-block_title-conatiner {
    font-weight: bold;
    padding: 2.5px 2.5px 2.5px 5pt;
    margin: -5pt -5pt 5pt -5pt;
}

.ui-dialog .sheet-stargaze .sheet-stats-block_items-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
}

.ui-dialog .sheet-stargaze .sheet-stats-block_title {
    display: inline-block;
    margin: 2.5px;
    height: 18pt;
}

.ui-dialog .sheet-stargaze .sheet-stats-block_value {
    display: inline-block;
    margin: 2.5px;
    width: 16pt;
    height: 16pt;
    text-align: center;
    border-radius: 0px;
}

.ui-dialog .sheet-stargaze .sheet-stats-block_item {
    display: inline-block;
}

.ui-dialog .sheet-stargaze .sheet-stats-block_item_title {
    display: inline-block;
    margin: 2.5px;
    height: 16pt;
}

.ui-dialog .sheet-stargaze .sheet-stats-block_item_value {
    display: inline-block;
    margin: 2.5px;
    width: 16pt;
    height: 16pt;
    text-align: center;
}

.ui-dialog .sheet-stargaze .sheet-stats-block_title-conatiner_body {
    animation: 1s linear infinite body-background;
    background-repeat: repeat;
    background-size: 16px 16px;
    background-image: var(--Pattern1);
    border-radius: none;
    outline: solid;
    outline-width: 2px;
    outline-color: var(--body-dark);
}

.ui-dialog .sheet-stargaze .sheet-stats-block_title-conatiner_nerv {
    animation: 3s linear infinite nerv-background;
    background-repeat: repeat;
    background-size: 48px 48px;
    background-image: var(--Pattern2);
    border-radius: none;
    outline: solid;
    outline-width: 2px;
    outline-color: var(--nerv-dark);
}

.ui-dialog .sheet-stargaze .sheet-stats-block_title-conatiner_mind {
    animation: 2.5s linear infinite mind-background;
    background-repeat: repeat;
    background-size: 48px 48px;
    background-image: var(--Pattern3);
    border-radius: none;
    outline: solid;
    outline-width: 2px;
    outline-color: var(--mind-dark);
}

.ui-dialog .sheet-stargaze .sheet-stats-block_title-conatiner_psyc {
    animation: 8s linear infinite psyc-background;
    background-repeat: repeat;
    background-size: 72px 72px;
    background-image: var(--Pattern4);
    border-radius: none;
    outline: solid;
    outline-width: 2px;
    outline-color: var(--psyc-dark);
}

.ui-dialog .sheet-stargaze .sheet-stats-block_title-conatiner_body .sheet-stats-block_value {
    border: none;
    outline: solid;
    outline-width: 2px;
    outline-color: var(--body-dark);
    color: var(--body-light);
    font-weight: bold;
}

.ui-dialog .sheet-stargaze .sheet-stats-block_title-conatiner_nerv .sheet-stats-block_value {
    border: none;
    outline: solid;
    outline-width: 2px;
    outline-color: var(--nerv-dark);
    color: var(--nerv-light);
    font-weight: bold;
}

.ui-dialog .sheet-stargaze .sheet-stats-block_title-conatiner_mind .sheet-stats-block_value {
    border: none;
    outline: solid;
    outline-width: 2px;
    outline-color: var(--mind-dark);
    color: var(--mind-light);
    font-weight: bold;
}

.ui-dialog .sheet-stargaze .sheet-stats-block_title-conatiner_psyc .sheet-stats-block_value {
    border: none;
    outline: solid;
    outline-width: 2px;
    outline-color: var(--psyc-dark);
    color: var(--psyc-light);
    font-weight: bold;
}

@keyframes body-background {
    from { background-position-y: 0px; }
    to { background-position-y: 16px; }
}

@keyframes nerv-background {
    from { background-position-y: 0px; }
    to { background-position-y: 48px; }
}

@keyframes mind-background {
    from { background-position-y: 0px; background-position-x: 0px; }
    to { background-position-y: 48px; background-position-x: 96px; }
}

@keyframes psyc-background {
    from { background-position-x: 0px; background-position-y: 0px; }
    to { background-position-x: -288px; background-position-y: 72px; }
}

/* #endregion */

/* #region Profile Page */

.ui-dialog .sheet-stargaze .sheet-page_profile {
    height: 100%;
    width: calc(100% - 20px);
    margin-top: 15px;
    padding: 5px;
    display: grid;
    grid-template: 
        "a a f" auto
        "b c f" 1fr
        "d c f" 1fr / 1fr 1fr 1fr;
}

.ui-dialog .sheet-stargaze .sheet-page_profile > *:nth-child(1){ grid-area: a; }
.ui-dialog .sheet-stargaze .sheet-page_profile > *:nth-child(2){ grid-area: b; }
.ui-dialog .sheet-stargaze .sheet-page_profile > *:nth-child(3){ grid-area: c; }
.ui-dialog .sheet-stargaze .sheet-page_profile > *:nth-child(4){ grid-area: d; }
.ui-dialog .sheet-stargaze .sheet-page_profile > *:nth-child(5){ grid-area: f; }

.ui-dialog .sheet-stargaze .sheet-page_profile_properties {
    display: grid;
    grid-template-columns: auto 2fr auto 1fr auto 1fr;
    grid-template-rows: auto auto auto auto;
    grid-column-gap: 5px;
    padding: 10px;
    align-items: center;
}

.ui-dialog .sheet-stargaze .sheet-page_profile_properties > p{
    text-align: right;
}

.ui-dialog .sheet-stargaze .sheet-page_profile_history {
}

.ui-dialog .sheet-stargaze .sheet-page_profile_special {
}

.ui-dialog .sheet-stargaze .sheet-page_profile_actual {
}

.ui-dialog .sheet-stargaze .sheet-page_profile_properties {
}

.ui-dialog .sheet-stargaze .sheet-page_profile_logs {
}


/* #endregion */

/* #region Meds Page */

.ui-dialog .sheet-stargaze .sheet-page_meds {
    max-height: 100%;
    min-height: 700px;
    width: calc(100% - 20px);
    padding: 5px;

    display: grid;
    gap: 15px;
    grid-template:
        "a" 100px,
        "b" 1fr
}

.ui-dialog .sheet-stargaze .sheet-page_meds_header {
}

.ui-dialog .sheet-stargaze .sheet-page_meds_body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;

    display: grid;
    gap: 15px;
    grid-template:
        "a b" 1fr
        "c d" 1fr / 1fr 1fr;
}

.ui-dialog .sheet-stargaze .sheet-meds_area {
    display: block;
    height: 450px;
}

/* #endregion */

/* #region Hacks Page */

.ui-dialog .sheet-stargaze .sheet-page_hacks {
    max-height: 100%;
    min-height: 700px;
    width: calc(100% - 20px);
    padding: 5px;

    display: grid;
    gap: 15px;
    grid-template:
        "a" 100px,
        "b" 1fr
}

.ui-dialog .sheet-stargaze .sheet-page_hacks_header {
}

.ui-dialog .sheet-stargaze .sheet-page_hacks_body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;

    display: grid;
    gap: 15px;
    grid-template:
        "a b" 1fr
        "c d" 1fr / 1fr 1fr;
}

.ui-dialog .sheet-stargaze .sheet-hacks_area {
    display: block;
    height: 450px;
}

/* #endregion */

/* #region Battle Page */

.ui-dialog .sheet-page_battle {
    height: 100%;
    width: calc(100% - 20px);
    margin-top: 15px;
    padding: 5px;

    display: grid;
    grid-template: "a" 1fr / 1fr;
}

.ui-dialog .sheet-page_battle_body {
    display: grid;
    grid-template: "a" 1fr / 1fr;
}

/* #endregion */

/* #region Settings Page */

.ui-dialog .sheet-page_settings {
    height: 100%;
    width: calc(100% - 20px);
    margin-top: 15px;
    padding: 5px;

    display: grid;
    grid-template: "a" 1fr / 1fr;
}

.ui-dialog .sheet-page_settings_body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 5px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.ui-dialog .sheet-page_settings_setting{
    display: grid;
    align-items: center;
    width: 360px;
    grid-template-columns: 100px 1fr;
}

.ui-dialog .sheet-page_settings_setting > p{
    text-align: left;
}

.ui-dialog .sheet-page_settings_setting > button{
    width: 100%;
}

/* #endregion */

/* #region Sheet Tabs */

.ui-dialog .sheet-toggle {
    padding: 5px;
}

.ui-dialog .sheet-toggle:hover {
}

.ui-dialog .sheet-toggle:active {
}

.ui-dialog .sheet-stargaze .sheet-tabstoggle[value="character"] ~ div .sheet-button0,
.ui-dialog .sheet-stargaze .sheet-tabstoggle[value="profile"] ~ div .sheet-button1,
.ui-dialog .sheet-stargaze .sheet-tabstoggle[value="meds"] ~ div .sheet-button2,
.ui-dialog .sheet-stargaze .sheet-tabstoggle[value="hacks"] ~ div .sheet-button3,
.ui-dialog .sheet-stargaze .sheet-tabstoggle[value="battle"] ~ div .sheet-button4,
.ui-dialog .sheet-stargaze .sheet-tabstoggle[value="settings"] ~ div .sheet-button5 {
    top: 0px;
    right: 0px;
    box-shadow: 0px 0px 0px #ffffff10;
    border: none;
    border-radius: 0px;
    transition: 0.1s;
}

.ui-dialog .sheet-stargaze .sheet-page_main,
.ui-dialog .sheet-stargaze .sheet-page_profile,
.ui-dialog .sheet-stargaze .sheet-page_meds,
.ui-dialog .sheet-stargaze .sheet-page_hacks,
.ui-dialog .sheet-stargaze .sheet-page_battle,
.ui-dialog .sheet-stargaze .sheet-page_settings {
    display: none;
}

.ui-dialog .sheet-stargaze .sheet-tabstoggle[value="character"] ~ .sheet-page_main,
.ui-dialog .sheet-stargaze .sheet-tabstoggle[value="profile"] ~ .sheet-page_profile,
.ui-dialog .sheet-stargaze .sheet-tabstoggle[value="meds"] ~ .sheet-page_meds,
.ui-dialog .sheet-stargaze .sheet-tabstoggle[value="hacks"] ~ .sheet-page_hacks,
.ui-dialog .sheet-stargaze .sheet-tabstoggle[value="battle"] ~ .sheet-page_battle,
.ui-dialog .sheet-stargaze .sheet-tabstoggle[value="settings"] ~ .sheet-page_settings {
    display: grid;
}

/* #endregion */

/* #region Template - Property check */

.sheet-rolltemplate-pcheck {
    min-width: 50px;
    margin: 0px;
    padding: 0px;
    font-family: monospace, 'Monaco', system-ui;
    font-size: 10pt;
    display: none; /*REMOVE*/
}

.sheet-rolltemplate-pcheck .sheet-temp_body {
    margin: 0px;
    padding: 10px;
    border-image-source: url("https://github.com/Mikhuil-Kop/Stargaze-CharacterSheet/raw/refs/heads/main/Resources/Block6.svg");
    border-image-slice: 45% fill;
    border-image-width: 32px;
    border-image-outset: 8px;
    background-image: url("https://github.com/Mikhuil-Kop/Stargaze-CharacterSheet/raw/refs/heads/main/Resources/Back2.svg");
    background-color: #000000;
    background-repeat: repeat;
    background-size: 32px;
}

 .sheet-rolltemplate-pcheck .sheet-temp_body {
    display: grid;
    grid-template-columns: auto 50px;
    gap: 5px;
 }

.sheet-rolltemplate-pcheck .sheet-temp_body_1 {
    grid-column: 1;
}

.sheet-rolltemplate-pcheck .sheet-temp_body_2 {
    grid-column: 2;
}

/*---------------------------------------------------------------------------
 * Content
 *---------------------------------------------------------------------------*/

.sheet-rolltemplate-pcheck .sheet-temp_header {
    color: #dbddde;
}

.sheet-rolltemplate-pcheck .sheet-temp_description {
    color: #999999;
}

.sheet-rolltemplate-pcheck .sheet-temp_roll {
    margin: 5px;
    height: 40px;
    width: 40px;
    line-break: loose;
    color: #dbddde;
    display: flex;
    justify-content: center;
    align-items: center;
    border-image-source: url("https://github.com/Mikhuil-Kop/Stargaze-CharacterSheet/raw/refs/heads/main/Resources/Block3.svg");
    border-image-slice: 45% fill;
    border-image-width: 32px;
    border-image-outset: 8px;
}

.sheet-rolltemplate-pcheck .sheet-temp_roll .inlinerollresult {
    background: none;
    border: none;
}

.sheet-rolltemplate-pcheck .sheet-temp_roll .fullcrit {
    color: rgb(0, 200, 0);
}

.sheet-rolltemplate-pcheck .sheet-temp_roll .fullfail {
    color: rgb(200, 0, 0);
}

.sheet-rolltemplate-pcheck .sheet-temp_roll .importantroll {
    color: rgb(0, 153, 200);
}

/*---------------------------------------------------------------------------
 * Styling
 *---------------------------------------------------------------------------*/

.sheet-rolltemplate-pcheck .sheet-temp_body_back-body {
}

.sheet-rolltemplate-pcheck .sheet-temp_body_back-nerv {
}

.sheet-rolltemplate-pcheck .sheet-temp_body_back-mind {
}

.sheet-rolltemplate-pcheck .sheet-temp_body_back-psyc {
}

.sheet-rolltemplate-pcheck .sheet-temp_body_back-dark {
}

.sheet-rolltemplate-pcheck .sheet-temp_body_back-dark .sheet-temp_roll {
    text-indent:-999em;
}

.sheet-rolltemplate-pcheck .sheet-temp_body_back-dark .sheet-temp_roll:hover {
    text-indent:0em;
}

.sheet-rolltemplate-pcheck .sheet-temp_body_back-fulldark {
}

.sheet-rolltemplate-pcheck .sheet-temp_body_back-fulldark .sheet-temp_description,
    .sheet-rolltemplate-pcheck .sheet-temp_body_back-fulldark .sheet-temp_roll {
    text-indent:-999em;
}

.sheet-rolltemplate-pcheck .sheet-temp_body_back-fulldark:hover .sheet-temp_description,
.sheet-rolltemplate-pcheck .sheet-temp_body_back-fulldark:hover .sheet-temp_roll {
    text-indent:0em;
}

 /*
.sheet-rolltemplate-pcheck .sheet-temp_body_back-body {
    background-repeat: repeat;
    background-size: 16px 16px;
    background-image: url("https://github.com/Mikhuil-Kop/Stargaze-CharacterSheet/raw/refs/heads/main/Resources/PatternBody.svg");
}

.sheet-rolltemplate-pcheck .sheet-temp_body_back-nerv {
    background-repeat: repeat;
    background-size: 48px 48px;
    background-image: url("https://github.com/Mikhuil-Kop/Stargaze-CharacterSheet/raw/refs/heads/main/Resources/PatternNerv.svg");
}

.sheet-rolltemplate-pcheck .sheet-temp_body_back-mind {
    background-repeat: repeat;
    background-size: 48px 48px;
    background-image: url("https://github.com/Mikhuil-Kop/Stargaze-CharacterSheet/raw/refs/heads/main/Resources/PatternMind.svg");
}

.sheet-rolltemplate-pcheck .sheet-temp_body_back-psyc {
    background-repeat: repeat;
    background-size: 72px 72px;
    background-image: url("https://github.com/Mikhuil-Kop/Stargaze-CharacterSheet/raw/refs/heads/main/Resources/PatternPsyc.svg");
}

.sheet-rolltemplate-pcheck .sheet-temp_body_back-dark {
    background-repeat: repeat;
    background-size: 72px 72px;
    background-image: url("https://github.com/Mikhuil-Kop/Stargaze-CharacterSheet/raw/refs/heads/main/Resources/PatternPsyc.svg");
}
*/

/* #endregion Template - Property check */

/* #region Console */

.ui-dialog .sheet-console {
    display: inline-block;
    display: none;
    position: absolute;
    left: 0px;
}

.ui-dialog .sheet-console_container {
    display: inline-flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    outline: none;
    border-radius: 0px;
    border: solid 1px white;
    background-color: black;
    color: white;
}

.ui-dialog .sheet-console_container_input {
    padding: 15px;
    min-width: 30px;
    font-family: monospace;
    outline: none;
    border: none;
    background: none;
    border-radius: 0px;
    background-color: black;
    color: white;
}

.ui-dialog .sheet-console_container_button {
    display: inline-block;
    outline: none;
    border: none;
    background: none;
    border-radius: 0px;
    background-color: black;
    color: white;
    font-weight: bold;
    text-align: left;
    margin: 5px;
    margin-left: 15px;
    padding: 0px;
}

.ui-dialog .sheet-console_container_button:active {
    background-color: white;
    color: black;
}

.ui-dialog .sheet-console_container_input::-webkit-scrollbar {
    width: 4px;
}

.ui-dialog .sheet-console_container_input::-webkit-scrollbar-button {
    display: none;
}

.ui-dialog .sheet-console_container_input::-webkit-scrollbar-track {
    background-color: transparent;
}

.ui-dialog .sheet-console_container_input::-webkit-scrollbar-thumb {
    background: #ffffff90;
}

/* #endregion */